{% extends "base.html" %}
{% load static%}
{%block title %}

{% endblock %}


{%block content %}

<h1>{{ clas.name }}</h1><br>

    <h2>Lista kandydatów z oryginalnymi świadectwami</h2><br>

    {% for c in list_candidates %}
        {% for kan in c %}
             {{ kan }}
        {% endfor %}
        <br>
    {% endfor %}

<h2>Lista kandydatów z kopiami świadectwami</h2><br>

    {% for c in list_candidates_kopia %}
        {% for kan in c %}
             {{ kan }}
        {% endfor %}
        <br>
    {% endfor %}
<h2>Lista kandydatów z  podaniami</h2><br>

    {% for c in list_candidates_podanie %}
        {% for kan in c %}
             {{ kan }}
        {% endfor %}
        <br>

    {% endfor %}








{% endblock %}